html,body{
    margin:0;
    padding:0;
    width:100vw;
    height: 100%;
    font-family: candara;
    background-color: rgb(0, 60, 83);
    color: black;
    
}

header{
    width: 100%;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: aliceblue;
   
}

header img{
    height: 100%;
}

header nav{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

header button{
    padding: 10px;
    background-color: rgb(148, 148, 148);
    border:0;
    color: black;
    font-family: candara;
    border-radius: 5px;
    box-shadow:0 0 1em rgb(0, 60, 83);
}

.apresentacao{
    width: 100%;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.apresentacao article{
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.apresentacao article p{
    margin:0;
    margin-left: 30px;
    font-size: 1.3em;
    padding:0;   
}

.apresentacao article strong{
    margin:0;
    margin-left: 30px;
    font-size: 1.5em;
    color: black;
    padding:0;   
}

.apresentacao article h1{
    margin:0;
    margin-left: 30px;
    font-size: 3em;
    color: aliceblue;
    padding:0; 
}

.social{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}

.social a{
    padding: 10px;
    background: rgb(148, 148, 148);
    color: aliceblue;
    font-weight: bold;
    border-radius: 10px;
    font-size: 0.8em;
}

.botoes{
    width: 35%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 20px;
    margin-left: 25px;
}

.botoes button{
    padding: 15px;
    background-color: rgb(148, 148, 148);
    border: 0;
    color:rgb(0, 0, 0);
    border-radius: 15px;
    box-shadow: 0 0 0.7em red;
}

.foto{
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foto .fundo{
    width: 400px;
    height: 400px;
    border: 1px red solid;
    display: flex;
    align-items: flex-end;
    background-color: #555;
    box-shadow: 0 0 1em #555;
    border-radius: 50%;

}

.foto .fundo img{
    width: 100%;
    border-bottom-left-radius: 200px;
    border-bottom-right-radius: 200px;
}

.sobre{
    margin:0;
    width: 100%;
    height: 85%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    background-color: aliceblue;
    color: black;
    
}

.sobrel{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    margin-left: -500px;
    margin-top: -300px;
    box-shadow: 0 0 0.7em black;
}

.sobre article h1{
    font-size: 2.2em;
    color: rgb(0, 60, 83);
}

.pgcontato{
    margin:0;
    width: 100%;
    height: 55%;
    padding: 15px;
    font-size: 2em;
    background-color:  rgb(0, 60, 83);
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    

}


.pgcontato form {
    display: flex;
    flex-direction: column;
    
    
     
}

.pgcontato input{
    width: 55%;
    background-color: transparent;
    margin-top: 1vw;
    border-radius: 5px;
    border: black solid;
    box-shadow: 0 0 0.8em red;
}

::placeholder{
    color: white;
}




.pgcontato article h1{
    font-size: 1,5em;
    color: aliceblue;
    
    
    

}





.botoe{
    padding: 5px;
    border:0;
    color: black;
    font-family: candara;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: flex-start;
    height: 300px;
    transition-duration: 0.5s;
}


   
.botoe button:hover{
    background-color: grey;
    font-size: 1em;
    border-radius: 10px;
    box-shadow: 0 0 0.8em red;
    transition-duration: 0.5s;
}

    


    



    
